/* CSS Document */
body{
	background-color:#ffffff; 
	font-color:#555555;
	/*position:relative;
	margin:auto;
	max-width:1100px;
	min-width:700px;
	text-align:center;
	*/
	margin: auto;
	padding: 0;
	border: 0;
	width: 100%;
	min-width: 600px;
	max-width: 1000px;
}

#header{
	border-style:solid;
	border-width:thin;
	border-color:#0099CC;
	max-width:1100px;
	min-width:700px;
	height:200px;
	text-align:left;
	float: left;
	width: 100%;
	position: relative;
}

#title{
	margin-top:0px;
	width:100%;
	float:left;
}

#links{
	position:absolute;
	float:right;
	right: 0px;
	width:350px;
	top:100%;
	margin-top:-25px;
	margin-right:-7px;
}

#wrapper{
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;
}

#contentwrap{
	float: left;
	width: 50%;
	position: relative;
	right: 200px;
	padding-bottom: 1em;
}

#colmid{
	float: left;
	width: 200%;
	margin-left: -200px;
	position: relative;
	right: 100%;
}

#colleft{
	float: left;
	width: 100%;
	margin-left: -50%;
	position: relative;
	left: 400px;
}

#left-bar{
	float: left;
	float: right;
	width: 170px;
	position: relative;
	right: 15px;
	/*
	width:200px;
	text-align:left;
	*/
}

#content{
	margin: 0 215px;
	position: relative;
	left: 200%;
	overflow: hidden;
	/*
	max-width:700px;
	min-width:300px;
	text-align:left;
	*/
}

#right-bar{
	float: left;
	float: right;
	width: 170px;
	margin-right: 45px;
	position: relative;
	left: 50%;
	text-align: right;
}

#main-title{
	font:calibri;
	height: 200px;
	font-size:50px;
	font-weight: bold;
	display: block;
}

#sub-title{
	position: absolute;
	margin-left:5px;
	font:calibri;
	font-size:40px;
	font-weight:lighter;
	top:100%;
	margin-top: -50px;
}

#nav{
	list-style-type:none;
	margin-left:-40px;
}

#nav a {
	font-size:20px;
	text-decoration: none;
	color: #666666;
	display: block;
	width: 150px;
	border-left: 5px solid rgb(51,51,51);
	padding: 25px 0px 25px 5px;
}

#nav a:hover{
	color: rgb(51,51,51);
	background:#FAFAFA;
	text-decoration: none;
	border-left: 5px solid #0099CC;
}

#links a{
	font-size:20px;
	color: #666666;
	text-decoration:none;
	border-bottom: 5px solid rgb(51,51,51);
	padding: 0px 25px 0px 25px;
}

#links a:hover{
	color: rgb(51,51,51);
	text-decoration:none;
	border-bottom: 5px solid #0099CC;
}

.error li{
  text-color: red;
}

#footer{
	float:left;
	border-style:solid;
	border-width:thin;
	border-color:#0099CC;
	width: 100%;
	height:75px;
	margin-top:10px;
	text-align:left;
}
