/* CSS Document */
body{
	background-color:#ffffff; 
	font-color:#555555;
	/*position:relative;
	margin:auto;
	max-width:1100px;
	min-width:700px;
	text-align:center;
	*/
	font:calibri;
	margin: auto;
	padding: 0;
	border: 0;
	width: 100%;
	min-width: 600px;
	max-width: 1000px;
}

#header{
	border-style:solid;
	border-width:thin;
	border-color:#0099CC;
	max-width:1100px;
	min-width:700px;
	height:200px;
	text-align:left;
	float: left;
	width: 100%;
	position: relative;
}

#title{
	margin-top:0px;
	width:75%;
	float:left;
}

#links{
	position:absolute;
	float:right;
	right: 0px;
	width:350px;
	top:100%;
	margin-top:-25px;
	margin-right:-7px;
}

#wrapper{
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;
}

#contentwrap{
	float: left;
	width: 50%;
	position: relative;
	right: 200px;
	padding-bottom: 1em;
}

#colmid{
	float: left;
	width: 200%;
	margin-left: -200px;
	position: relative;
	right: 100%;
}

#colleft{
	float: left;
	width: 100%;
	margin-left: -50%;
	position: relative;
	left: 400px;
}

#left-bar{
	float: left;
	float: right;
	width: 170px;
	position: relative;
	right: 15px;
	/*
	width:200px;
	text-align:left;
	*/
}

#content{
	margin: 0 215px;
	position: relative;
	left: 200%;
	width:75%;
	overflow: hidden;
	/*
	max-width:700px;
	min-width:300px;
	text-align:left;
	*/
}

#headerlogin{
	float: left;
	width: 20%;
	/*margin-right: 45px;*/
	margin-top:5px;
	position: relative;
	/*left: 50%;*/
	text-align: right;
}

#main-title{
	font:calibri;
	height: 200px;
	font-size:50px;
	font-weight: bold;
	display: block;
}

#sub-title{
	position: absolute;
	margin-left:5px;
	font:calibri;
	font-size:40px;
	font-weight:lighter;
	top:100%;
	margin-top: -50px;
}

#nav{
	list-style-type:none;
	margin-left:-40px;
}

#nav a {
	font-size:20px;
	text-decoration: none;
	color: #666666;
	display: block;
	width: 150px;
	border-left: 5px solid rgb(51,51,51);
	padding: 25px 0px 25px 5px;
}

#nav a:hover {
	color: rgb(51,51,51);
	background:#FAFAFA;
	text-decoration: none;
	border-left: 5px solid #0099CC;
}

#links a{
	font-size:20px;
	color: #666666;
	text-decoration:none;
	border-bottom: 5px solid rgb(51,51,51);
	padding: 0px 25px 0px 25px;
}

#links a:hover {
	color: rgb(51,51,51);
	text-decoration:none;
	border-bottom: 5px solid #0099CC;
}

a{
	text-decoration: none;
	color: #666666;
}

a:hover {
	color: rgb(51,51,51);
	background:#FAFAFA;
	text-decoration: none;
}

.error li{
  text-color: red;
}

#footer{
	float:left;
	border-style:solid;
	border-width:thin;
	border-color:#0099CC;
	width: 100%;
	height:75px;
	margin-top:10px;
	text-align:left;
}

.campaign-name{
	font-weight: bold;
	width: 200px;
}

.campaign-desc{
	font-size: 12px;
}

.votes{
	width: 25px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.distance{
	padding: 5px;
}

.content-div{
	display: inline-block;
}

.area{
	margin-bottom: 10px;
	padding-top: 3px;
	padding-bottom: 5px;
	position: relative;
}

.fieldname{
	color: #666666;
	font-size: 12px;
	text-align: right;
	margin: 5px;
	width: 55px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	border-right: solid 5px;
	padding-right: 5px;
}

.data{
	display: block;
	padding: 5px;
	padding-top: 0px;
	margin-left: 70px;
	font-size: 18px;
}

.supporters-num{
	padding-top: -20px;
	font-size: 45px;
	font-weight: bold;
}

#button-container{
	float: right;
	position: absolute;
	top: 30px;
	right: 0px;
}

#map-canvas{
	width: 100%;
	height: 400px;
}

.button{
	white-space: normal;
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em .5em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.support-button{
	width: 100px;
	height: 100px;
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.support-button:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.support-button:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.supported{
	color: #CCCCCC;
	width: 100px;
	height: 100px;
	font-weight: bold;
	border: solid 1px #538312;
	background: #64991E;
	background: -webkit-gradient(linear, left top, left bottom, from(#7DB72F), to(#4E7D0E));
	background: -moz-linear-gradient(top, #7DB72F, #4E7D0E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.supported:hover {
	color: #CCCCCC;
	background: #64991E;
	background: -webkit-gradient(linear, left top, left bottom, from(#7DB72F), to(#4E7D0E));
	background: -moz-linear-gradient(top, #7DB72F, #4E7D0E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.supported:active {
	color: #CCCCCC;
	background: #64991E;
	background: -webkit-gradient(linear, left top, left bottom, from(#7DB72F), to(#4E7D0E));
	background: -moz-linear-gradient(top, #7DB72F, #4E7D0E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}


